*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    background-color: aqua;
    width: auto;
    height: 500px;
    display: flex;
    justify-items: center;

}
h1{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
    width: 50%;
    height: 15%;
    margin-top: 8%;
    margin-left: 25%;
}
.imagem{
    margin-top: -200px; 
    margin-left: 10%;
}
img{
    height: 700px;
    mar
    max-width: 100%;
}
main{
    background-color: red;
    width: auto;
    height: 300px;
}
footer{
    background-color: chartreuse;
    width: auto;
    height: 300px;
}